.champion_icon {
	border-radius: var(--default-border-radius);
	box-shadow: var(--box-shadows);
	height: 150px;
	-moz-box-shadow: var(--box-shadows);
	object-fit: cover;
	transition-duration: 250ms;
	-webkit-box-shadow: var(--box-shadows);
	width: 150px;
}
.champion_icon:hover {
	border-radius: 10px;
	transform: scale(1.125);
}
#tags {
	align-items: center;
	display: flex;
	justify-content: center;
}
#tags span {
	margin: 1em;
	width: 48px;
	height: 48px;
}
#tags span img {
	width: 100%;
	height: 100%;
	border-radius: var(--default-border-radius);
}
#toptext {
	color: var(--default-light-text-color);
	font-size: 24px;
	margin: 2em auto 1em;
	text-align: center;
	width: 75%;
}
#wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3em auto;
	width: clamp(350px, 80%, 2000px);
}
#wrapper figure {
	border-radius: var(--default-border-radius);
	margin: 1em;
	padding: 1em;
	text-align: center;
	text-transform: uppercase;
	transition-delay: 50ms;
	transition-duration: 250ms;
}
#wrapper figure:hover {
	cursor: pointer;
}
#wrapper figure a {
	color: var(--default-light-text-color);
	text-decoration: none;
}
#wrapper figure a:hover {
	color: var(--default-hypertext-hover-color);
}
#wrapper figure figcaption {
	margin-top: .9pc;
	transition-duration: 250ms;
}
@media screen and (max-width: 800px) {
	#toptext {
		font-size: 32px;
	}
	#wrapper figure {
		padding: .5em;
	}
	.champion_icon {
		height: 100px;
		width: 100px;
	}
}