magicDamage {
	color: cornflowerblue;
}
physicalDamage {
	color: #cd7f32;
}
.champion_spell, .recommended_item {
	margin: 1em;
}
.champion_spell_cooldown {
	color: #bbb;
}
.champion_spell img, .recommended_item img {
	border-radius: 5px;
	width: 48px;
}
.spell_key {
	background: rgba(0,0,0,0.3);
	border-radius: 5px;
	bottom: 4px;
	color: #dadada;
	font-size: 12px;
	padding: 3px 4px 3px 5px;
	position: absolute;
	right: 0;
	user-select: none;
}
.spell_key:hover {
	cursor: default;
}
.tooltip {
	display: inline-block;
	position: relative;
}
.tooltip .tooltip_text {
	background-color: rgba(0,0,0,0.85);
	border-radius: 6px;
	color: #fff;
	font-size: 0px;
	left: 50%;
	margin-left: -120px;
	opacity: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	top: 100%;
	transition: opacity .2s;
	width: 240px;
	z-index: 1;
}
.tooltip .tooltip_text::after {
	border-color: transparent transparent black transparent;
	border-style: solid;
	border-width: 5px;
	bottom: 100%;
	content: " ";
	left: 50%;
	margin-left: -5px;
	position: absolute;
}
.tooltip:hover .tooltip_text {
	font-size: 16px;
	opacity: 1;
	padding: 5px 0;
}
#champion_loading_screen {
	float: left;
	height: 80%;
	width: 30%;
}
#champion_loading_screen_image {
	height: 100%;
	margin-right: 1em;
	object-fit: contain;
	width: 100%;
}
#champion_loading_screen_infos {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
}
#champion_loading_screen_name {
	color: var(--default_dark_text_color);
	text-transform: uppercase;
}
#champion_meta_tier {
	font-weight: bold;
}
#champion_passive_title, .champion_spell_title {
	color: goldenrod;
	font-weight: bold;
}
#champion_spells {
	align-items: center;
	display: flex;
	justify-content: left;
}
#modal_champion {
	align-items: center;
	background: rgba(0,0,0,0.8);
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
#modal_champion::-webkit-scrollbar-thumb:hover {
	background: #555;
}
#modal_champion_wrapper {
	align-items: center;
	background-color: var(--default_light_background_color);
	border-radius: var(--default_border_radius);
	flex-direction: row;
	flex-wrap: wrap;
	height: 85%;
	max-height: 450px;
	max-width: 800px;
	padding-top: 2%;
	position: fixed;
	width: 85%;
}
#modal_close {
	background-color: var(--default_light_background_color);
	background-color: var(--default_light_text_color);
	border: none;
	border-radius: 50%;
	color: red;
	font-size: 24px;
	font-weight: bold;
	height: 36px;
	outline: none;
	position: absolute;
	right: .5em;
	top: .5em;
	transition-duration: 500ms;
	width: 36px;
}
#modal_close:active {
	transform: scale(1);
}
#modal_close:hover {
	background-color: red;
	color: var(--default_light_text_color);
	cursor: pointer;
	transform: scale(1.20);
}
@media screen and (max-width: 800px) {
	#champion_loading_screen_image {
		object-fit: cover;
	}
}