#search_champion {
	background-color: var(--default-light-background-color);
	background-image: url(../../images/search_icon.png);
	background-position: 5px;
	background-repeat: no-repeat;
	border: 1px solid #ddd;
	border-radius: var(--default-border-radius);
	font-size: 16px;
	margin: 1em;
	max-width: 200px;
	min-width: 10%;
	padding: 12px 20px 12px 50px;
}