.champion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--highlight-color) 0 0 3px;
    text-align: center;
}

.champion img {
    width: 100%;
}

.champion p {
    color: var(--text-color-secondary);
    font-size: small;
}

#champions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 75%;
}

.champion:hover {
    background-color: var(--background-color-secondary);
    border-radius: 7px;
    box-shadow: var(--highlight-color) 0 0 10px;
    cursor: pointer;
    transform: scale(1.05);
}

@media screen and (width<=850px) {
    .champion {
        width: 100px;
    }

    #champions {
        width: 100%;
    }
}
