physicalDamage {
    color: #f00;
}

speed {
    color: #fff;
}

spellActive {
    color: #0f0;
}

recast {
    color: #00f;
}

magicDamage {
    color: #ff0;
}

keywordMajor {
    font-weight: bold;
}

toggle {
    color: #0ff;
}
