* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
:root {
    --box_shadows: #666 0 0 3px;
    --default_light_text_color: #ddd;
    --default_dark_text_color: #222;
    --default_hypertext_hover_color: #aaa;
    --default_dark_background_color: #333;
    --default_light_background_color: #dfdfdf;
    --default_border_radius: 20px;
}
body {
    background-color: var(--default_dark_background_color);
}
.error {
    color: #f55;
    text-decoration: none;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
