:root {
    --background-color-primary: #f0f0f0;
    --background-color-secondary: #a0a0a0;
    --text-color-primary: #333;

    @media screen and (prefers-color-scheme: dark) {
        --background-color-primary: #0f0f0f;
        --background-color-secondary: #5f5f5f;
        --text-color-primary: #ccc;
    }
}

* {
    color: var(--text-color-primary);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: var(--background-color-primary);
    display: flex;
    flex-direction: column;
    height: 100svh;
    justify-content: space-between;
    width: 100%;
}

header,
footer {
    margin: 2em;
}

header h1 {
    font-size: large;
    text-align: center;
}

main {
    display: flex;
    height: fit-content;
    justify-content: center;
    width: 100%;
}

img,
input {
    user-select: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.error {
    color: #f55;
    text-decoration: none;
}

#scripts {
    display: none;
}
